<div ng-include="'components/navbar/navbar.html'"></div>

<div class="window-wrapper">
    <div class="window-title">
      <div class="dots">
        <i class="fa fa-circle"></i>
        <i class="fa fa-circle"></i>
        <i class="fa fa-circle"></i>
      </div>
      <div class="title">
        <span>Intro Chat</span>
      </div>
      <div class="expand">
        <i class="fa fa-expand"></i>
      </div>
    </div>
    <div class="window-area">
      <div class="conversation-list">
        <ul class="">
          <li class="item"><a href="#"><i class="fa fa-list-alt"></i><span>Dashboard</span></a></li>
        </ul>
        <ul class="" ng-repeat="conversation in conversations">
          <!-- <li class="item"><a href="#"><i class="fa fa-list-alt"></i><span>Dashboard</span></a></li> -->
          <li class="item active"><a href="#"><i class="fa fa-user"></i><span>{{conversation.name}}</span><i class="fa fa-times" ng-click="closeConversation()"></i></a></li>
        </ul>
        <div class="my-account">
          <div class="image">
            <img src="https://secure.gravatar.com/avatar/de76e03aa6b5b0bf675c1e8a990da52f?s=64">
            <i class="fa fa-circle online"></i>
          </div>
          <div class="name">
            <span>{{user}}</span>
            <i class="fa fa-angle-down"></i>
            <span class="availability">Available</span>
          </div>

        </div>
      </div>

      <div class="chat-area">
        <div class="title"><b>Conversation title</b><i class="fa fa-search"></i></div>
        <div class="chat-list">
          <ul ng-repeat="message in inbox">
            <li class="me">
              <div class="name">
                <span class="">{{message.user}}</span>
              </div>
              <div class="message">
                <p>{{message.text}}</p>
                <!-- <span class="msg-time">{{message.createdAt | amCalendar}}</span> -->
                <span class="msg-time" am-time-ago="message.createdAt"></span>
              </div>
            </li>
          </ul>
        </div>

        <div class="input-area">
          <div class="input-wrapper">
            <input type="text" value="" ng-model="newMessage">
            <i class="fa fa-smile-o"></i>
            <i class="fa fa-paperclip"></i>
          </div>
          <input type="button" value="Submit" class="send-btn" ng-click="message()">
        </div>
      </div>
      <div class="right-tabs">
        <ul class="tabs">
          <li class="active">
            <a href="#"><i class="fa fa-users"></i></a>
          </li>
          <li><a href="#"><i class="fa fa-paperclip"></i></a></li>
          <li><a href="#"><i class="fa fa-link"></i></a></li>
        </ul>
        <ul class="tabs-container">
          <li class="active">
            <ul class="member-list" ng-repeat="contact in contacts">
              <li ng-click="newConversation()"><span class="status online"><i class="fa fa-circle-o"></i></span><span>{{contact.name}}</span></li>
              <!-- <li><span class="status online"><i class="fa fa-circle-o"></i></span><span>Christian Smith</span></li>
              <li><span class="status idle"><i class="fa fa-circle-o"></i></span><span>John Bradley</span><span class="time">10:45 pm</span></li>
              <li><span class="status offline"><i class="fa fa-circle-o"></i></span><span>Daniel Freitz</span></li> -->
            </ul>
          </li>
          <li></li>
          <li></li>
        </ul>
        <a href="/contacts">
          <i class="fa fa-cog"></i>
        </a>
      </div>
    </div>
  </div>
